In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
import numpy as np
from modules import transfer_entropy as TE

In [2]:
lista = ["Atlanta-Sandy Springs-Alpharetta, GA MSA",
    "Baltimore-Columbia-Towson, MD MSA",
    "Boston-Cambridge-Newton, MA-NH MSA",
    "Chicago-Naperville-Elgin, IL-IN-WI MSA",
    "Dallas-Fort Worth-Arlington, TX MSA",
    "Denver-Aurora-Lakewood, CO MSA",
    "Detroit–Warren–Dearborn, MI MSA",
    "Houston-The Woodlands-Sugar Land, TX MSA",
    "Los Angeles-Long Beach-Anaheim, CA MSA",
    "Miami-Fort Lauderdale-West Palm Beach, FL MSA",
    "Minneapolis-St. Paul-Bloomington, MN-WI MSA",
    "New York-Newark-Jersey City, NY-NJ-PA MSA",
    "Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",
    "Phoenix-Mesa-Chandler, AZ MSA",
    "Riverside-San Bernardino-Ontario, CA MSA",
    "San Francisco-Oakland-Berkeley, CA MSA",
    "Tampa-St. Petersburg-Clearwater, FL MSA",
    "Washington-Arlington-Alexandria, DC-VA-MD-WV MSA"]
df = pd.read_csv("data/Times_series_sa_det.csv")

The p-values given in the paper were computed with iterations = 20,000

In [3]:
for arg in lista:
    Positive_Tweets = TE.Median_Symbolise_3bins(df["Tweet search - "+arg+"_sentNumber_Positive_sa_det"])
    Negative_Tweets = TE.Median_Symbolise_3bins(df["Tweet search - "+arg+"_sentNumber_Negative_sa_det"])
    crimes =          TE.Median_Symbolise_3bins(df[arg+"_crimes_lagged_sa_det"])
    Police_brutality =TE.Median_Symbolise_3bins(df["Police_Brutality_lagged_sa_det"])
    results = TE.ComputeH1H2(PB = Police_brutality,CR = crimes,
                             PT = Positive_Tweets,NT = Negative_Tweets,iterations = 1000)    
    print(arg)
    display(results)

Atlanta-Sandy Springs-Alpharetta, GA MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.774226  0.005763  0.009962
1            Crimes  Positive Tweets  0.385614  0.007445  0.009942
2  Police brutality  negative Tweets  0.000000  0.025653  0.009915

Baltimore-Columbia-Towson, MD MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.724276  0.005931  0.009969
1            Crimes  Positive Tweets  0.453546  0.007047  0.010184
2  Police brutality  negative Tweets  0.019980  0.010856  0.010009

Boston-Cambridge-Newton, MA-NH MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.970030  0.004197  0.009746
1            Crimes  Positive Tweets  0.675325  0.006030  0.009950
2  Police brutality  negative Tweets  0.000000  0.019151  0.009969

Chicago-Naperville-Elgin, IL-IN-WI MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.445554  0.007032  0.009870
1            Crimes  Positive Tweets  0.454545  0.007131  0.010111
2  Police brutality  negative Tweets  0.000000  0.023504  0.009796

Dallas-Fort Worth-Arlington, TX MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.680320  0.006123  0.009779
1            Crimes  Positive Tweets  0.380619  0.007291  0.009828
2  Police brutality  negative Tweets  0.000000  0.037865  0.009934

Denver-Aurora-Lakewood, CO MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.386613  0.007462  0.010092
1            Crimes  Positive Tweets  0.195804  0.008281  0.009807
2  Police brutality  negative Tweets  0.000000  0.023695  0.009948

Detroit–Warren–Dearborn, MI MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.638362  0.006311  0.010120
1            Crimes  Positive Tweets  0.517483  0.006707  0.009924
2  Police brutality  negative Tweets  0.000000  0.024704  0.009834

Houston-The Woodlands-Sugar Land, TX MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.199800  0.008434  0.010107
1            Crimes  Positive Tweets  0.709291  0.005992  0.009834
2  Police brutality  negative Tweets  0.000000  0.014576  0.010115

Los Angeles-Long Beach-Anaheim, CA MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.030969  0.010369  0.009761
1            Crimes  Positive Tweets  0.434565  0.007203  0.010096
2  Police brutality  negative Tweets  0.000000  0.030356  0.009849

Miami-Fort Lauderdale-West Palm Beach, FL MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.462537  0.006965  0.009689
1            Crimes  Positive Tweets  0.990010  0.003891  0.009959
2  Police brutality  negative Tweets  0.000000  0.036206  0.009917

Minneapolis-St. Paul-Bloomington, MN-WI MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.057942  0.009766  0.009939
1            Crimes  Positive Tweets  0.080919  0.009431  0.009937
2  Police brutality  negative Tweets  0.000000  0.037553  0.010133

New York-Newark-Jersey City, NY-NJ-PA MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.596404  0.006588  0.009918
1            Crimes  Positive Tweets  0.105894  0.009113  0.009980
2  Police brutality  negative Tweets  0.000000  0.026564  0.010122

Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.485514  0.006964  0.009891
1            Crimes  Positive Tweets  0.638362  0.006312  0.009953
2  Police brutality  negative Tweets  0.000000  0.024192  0.009891

Phoenix-Mesa-Chandler, AZ MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.393606  0.007478  0.010067
1            Crimes  Positive Tweets  0.268731  0.007890  0.009885
2  Police brutality  negative Tweets  0.000000  0.024522  0.009856

Riverside-San Bernardino-Ontario, CA MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.038961  0.010118  0.009985
1            Crimes  Positive Tweets  0.389610  0.007241  0.009753
2  Police brutality  negative Tweets  0.000000  0.024009  0.009773

San Francisco-Oakland-Berkeley, CA MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.510490  0.006800  0.009792
1            Crimes  Positive Tweets  0.691309  0.006115  0.009948
2  Police brutality  negative Tweets  0.000000  0.021017  0.009735

Tampa-St. Petersburg-Clearwater, FL MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.930070  0.004781  0.009947
1            Crimes  Positive Tweets  0.196803  0.008320  0.009792
2  Police brutality  negative Tweets  0.000000  0.032345  0.009876

Washington-Arlington-Alexandria, DC-VA-MD-WV MSA

             Sender         Receiver     p_val        TE  Quantile
0            Crimes  negative Tweets  0.553447  0.006786  0.009766
1            Crimes  Positive Tweets  0.126873  0.008923  0.009906
2  Police brutality  negative Tweets  0.000000  0.024183  0.009727

In [4]:
print("Pandas version:",pd.__version__)
print("Numpy version:",np.__version__)

Pandas version: 1.4.2
Numpy version: 1.21.6